<div class="gridViewContainer">
    <div data-ng-show="gvc.files.length > 0" class="files_title"><span>Files</span></div>
    <div class="files" data-ng-repeat="file in gvc.files">

        <div class="file">
            <img class="file_icon" data-ng-click="gvc.openFileModal(file)" src="assets/images/File-512.png" style="width: 100px; height: 100px;"/>
            <div class="file_name"><span>{{file.fileName.substring(file.fileName.indexOf('-')+1)}}</span></div>
        </div>

    </div>

    <hr>

    <div data-ng-show="gvc.courses.length > 0" class="courses_title"><span>Courses</span></div>
    <div class="courses"  data-ng-repeat="file in gvc.courses">

    </div>
</div>

