<div id="file_dialog">
  <div>
    <iframe ng-src="{{trustSrc(params.filePath)}}"></iframe>
  </div>
  <div id="modal_sidebar">
    <span class="tag_file">Enter new tags for this file:</span><br>
    <tags-input ng-model="tags" max-length="24" add-on-space="true"></tags-input>
    <button type="button" class="btn btn-primary" data-ng-click="submitTags()">Update Tags</button><br>

    <span class="course_code">File Name: {{params.fileName.substring(params.fileName.indexOf('-')+1)}}</span>
  </div>
</div>
