<html lang="en">
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Raleway|Lato|Droid+Sans|Roboto+Slab">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
header {
margin-bottom:30px;
}
<div class = "container">
<div>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>





    <div class="jumbotron text-center"  ng-init="" >


      <p>





      </p>



      <h1 style="font-family: 'Roboto Slab';">Find and Share Files.</h1>
      <p class="lead" style="font-family: 'Lato';">
      <!--<img src="assets/images/LogoReversedBlue.jpg" alt="I'm Yeoman"><br>-->
        <p></p>
        <p>A Wealth of Information at your Fingertips.</p>
        </p>
        <p></p>
        <ng-form name="login" style="font-family: 'Lato';" novalidate>
            <p>Email: <input type="text" ng-model="email" required></p>
            <p>Password: <input type="password" ng-model="password" required></p>
            <!--<li ng-repeat="phone in main.phones | orderBy:main.orderProp">{{phone}}</li>-->
            <!--<p>{{name}}</p>-->
            <p><!-- class="animated infinite" ng-class="main.classAnimation">-->
                <button type="button" class="btn btn-lg btn-success" ng-click="main.submitCredentials(email, password)"
                        style="font-family: 'Droid Sans';" ng-disabled=!login.$valid
                        ng-keydown="$event.which === 13 && main.submitCredentials(email, password)">Sign In!
                </button>
            </p>
        </ng-form>
        <p> Or </p>
        <p><!-- class="animated infinite" ng-class="main.classAnimation">-->
            <!--rather than ng-click="main.showToastr()"-->
            <button type="button" class="btn btn-lg btn-success" ng-click="main.register()"
                    ng-keydown="$event.which === 13 && main.register()" style="font-family: 'Droid Sans';">Click to
                Register
            </button>
        </p>
        <p style="font-family: 'Raleway';">
            <acme-malarkey extra-values="['Convenience','Accessibility']" style="color:#5cd6d6;"></acme-malarkey>
            for
            <acme-malarkey extra-values="['Students','Instructors']" style="color:#5cd6d6;"></acme-malarkey>
        </p>
    </div>
  </div>
   </div>
</div>

    <button type="button"><a ng-href="#addDeleteCourse">Add/Remove Course</a></button>
    <!--<a href="http://localhost:8081/static/files/Survey_Responses.pdf" target="_self" >Attachment</a>-->



</html>
