<html lang="en">
<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center" ng-init="">
    <h1>Find and Share Files</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      A Wealth of Information at your Fingertips.
    </p>
    <!--<p>1 + 2 = {{ 1 + 3 }}</p>
    <p>Nothing here {{'yet' + '!'}}</p>
    <p>Hello, {{main.names}}!</p>-->
    <form>
      <p>UTORID: <input type="text" ng-model="name"></p>
      <p>Password: <input type = "password" ng-model="password"></p>

      <p>{{name}}</p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Sign In!</button>
      </p>
    </form>
    <p> Or </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Click to Register</button>
    </p>
    <p>
      <acme-malarkey extra-values="['Convenience','Accessibility']"></acme-malarkey> for <acme-malarkey extra-values="['Students','Instructors']"></acme-malarkey>
    </p>
  </div>
<!--
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
-->
</html>
