<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Today</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway|Lato|Droid+Sans|Roboto+Slab">
</head>
<body>

<div class="container">

  <div>
    <acme-navbar creation-date="reg.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center" ng-init="">
    <h1 style="font-family: 'Roboto Slab';">Register Today</h1>

    <p class="lead" style="font-family: 'Lato';">
      <p></p>
      <p>Free for all University of Toronto Students.</p>
    </p>

    <ng-form name = "signUp" style="font-family: 'Lato';" novalidate>
      <p><label>Full Name:</label> <input type="text" name = "name" ng-model="name" required></p>
      <p><label>UTORID:</label> <input type = "text" name = "id" ng-model="id" required></p>
      <p><label> Student Number: </label><input type="text" name = "studentno" ng-model="studentno" required></p>
      <p><label> U of T Email: </label><input type = "text" name = "email" ng-model="email" ng-pattern="^[A-Z0-9._%+-]" required> <label>@mail.utoronto.ca</label></p>
      <p><label> Password:</label> <input type = "password" name = "password" ng-model = "password" required></p>
      <p><label> Confirm Password:</label> <input type = "password" name = "password2" ng-model = "password2" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " required></p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="submit" class="btn btn-lg btn-success" style="font-family: 'Droid Sans';" ng-disabled=!signUp.$valid ng-click = reg.submit() ng-keydown="$event.which === 13 && reg.submit()">Verify</button>
      </p>

      <span ng-show="password != password2">Passwords do not match.</span>




    </ng-form>


  </div>


</div>
</body>
</html>
