<input type="text" data-ng-model="sbc.selectedTerm" placeholder="Search for course or file/contents"
       data-typeahead-template-url="app/components/searchBar/searchBarResultTemplate.html"
       data-uib-typeahead="selectedTerm for selectedTerm in sbc.search($viewValue)"
       data-typeahead-loading="loadingSearch" data-typeahead-no-results="noResults"
       typeahead-on-select="sbc.onSelect($item, $model, $label)" class="form-control">
<i data-ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>
<div data-ng-show="sbc.showGlyphiconNoResults(noResults, sbc.selectedTerm)">
  <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>