<div id="searchResultTemplate.html">
  <table class="">
    <tr data-ng-if="match.model.course_divider">
      <td>
        Courses
      </td>
    </tr>

    <tr data-ng-if="match.model.courseCode">
      <td class="course_code">
        <div>
          <a data-ng-bind-html="match.model.courseCode"></a>
        </div>
      </td>
      <td class="course_name">
        <div>
          <a>{{ match.model.courseName }}</a>
        </div>
      </td>
    </tr>

    <tr data-ng-if="match.model.file_divider">
      <td>
        Files
      </td>
    </tr>

    <tr data-ng-if="match.model.filePath">
      <td class="file_name">
        <div>
          <a>{{ match.model.fileName.substring(match.model.fileName.indexOf('-')+1) }}</a>
        </div>
      </td>
      <td class="file_desc">
        <div>
          <a>{{ match.model.fileDesc }}</a>
        </div>
      </td>
      <td class="file_blurb">
        <div>
          <p data-ng-bind-html="match.model.blurb"></p>
        </div>
      </td>
    </tr>
  </table>
</div>
