<nav class="navbar navbar-fixed-top navbar-inverse">
<!--<nav class="navbar sidebar-nav navbar-inverse">-->
  <!--<div class="col-sm-3 col-sm-pull-9 sidebarStyle">-->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.utm.utoronto.ca/">
        <img src="assets/images/uofttiny.png" />
        <!--<span class="glyphicon glyphicon-home">University Search</span> -->
      </a>
      <a class="navbar-brand" href="https://www.utm.utoronto.ca/">
      <span style="font-family: 'Droid Sans';"> UniversitySearch</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

    <!--div class="text-xs-center text-sm-left ">
    <ul class="nav nav-pills nav-stacked">-->

        <ul ng-init="selectedTab = 'home'" class="nav navbar-nav" style="font-family: 'Droid Sans';">
          <!--div class="text-xs-center text-sm-left ">
          <ul class="nav nav-pills nav-stacked">-->

          <li ng-class="{'active':selectedTab === 'home'}" ng-click="selectedTab = 'home'"><a ng-href="#/">Home</a></li>
          <li ng-class="{'active':selectedTab === 'about'}" ng-click="selectedTab = 'about'"><a ng-href="#about">About</a></li>
          <li ng-class="{'active':selectedTab === 'contact'}" ng-click="selectedTab = 'contact'"><a ng-href="#contact">Contact</a></li>
        </ul>

        <!--<li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#about">About</a></li>
        <li><a ng-href="#contact">Contact</a></li>
      </ul>-->

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
