.acme-navbar-text {
  color: white;
}

.navbar-nav li a:hover{

  background: rgba(255,255,255,0.2);

}

.nav li a:hover{

  background: rgba(255,255,255,0.2);
}

/*
.navbar .navbar-fixed-top .navbar-inverse{
  background: #222;
}*/

.navbar-default{
  background: #222;
}
